.container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: -webkit-linear-gradient(
      90deg
      , rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
          background: -webkit-gradient(linear, left top, right top, from(rgba(199, 146, 154, 1)), to(rgba(210, 115, 3, 1)));
          background: -webkit-linear-gradient(left, rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
          background: linear-gradient(
      90deg
      , rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
  }
.button {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-60%);
    right: 0;
    cursor: pointer;
    font-size: 5rem;
    color: whitesmoke;
    width: 25px;
}
.button:active {
    color: rgba(210, 115, 3, 1);
}
.prev {
    left: 0;
}