@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  margin: 0 auto;
  height: 100vh;
}

@media (min-width: 576px) {
  .container {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .container {
    width: 95vw;
  }
}

@media (min-width: 992px) {
  .container {
    width: 90vw;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 85vw;
  }
}

.navigation_section {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: #4C2922;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.search_container {
  flex-basis: 70%;
}

.search_wrapper {
  display: flex;
  justify-content: left;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  background-color: white;
  border-radius: 36px
}

.search_input {
  flex-grow: 1;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.search_input:focus {
  outline: none
}



.top_listing_container {
  display: flex;
  padding: 15px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .top_listing_container {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .top_listing_container {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .top_listing_container {
    width: 65%;
  }
}

.top_description_container {
  flex-basis: 50%;

  @media (max-width: 768px) {
    padding: 35px;
  }
}

.main_title {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #4C2922;
  margin-top: 3.5rem;
}

.main_description {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6rem;
  margin-top: 2.5rem;
}

.main_button {
  margin-top: 4.5rem;
  width: 150px;
  padding: 10px 35px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  background: -moz-linear-gradient(90deg, rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
  background: linear-gradient(90deg, rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
}

.top_image_container {
  padding: 35px;
}

@media (min-width: 576px) {
  .top_image_container {
    padding: 35px;
  }
}

@media (min-width: 768px) {
  .top_image_container {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .top_image_container {
    padding: 45px;
  }
}

@media (min-width: 1200px) {
  .top_image_container {
    padding: 50px;
  }
}

.main_image {
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}


.responsive_grid_container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 4px 0;
  justify-content: center;
}

.responsive_grid_column {
  width: 100%;
  flex: 25%;
  max-width: 20%;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .responsive_grid_column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .responsive_grid_column {
    flex: 100%;
    max-width: 100%;
  }
}

.image_container {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}


.gallery_image {
  height: 100%;
  border-radius: 15px;
}