@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.container {
  margin: 0 auto;
  min-height: 105vh;
  overflow-x: hidden;
}

@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1139px) {
  .container {
    width: 90%;
  }
}
