.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 300px;
    margin: 50px auto 0;
    padding: 30px 0 30px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 3px 5px 16px -7px #000000; 
    box-shadow: 3px 5px 16px -7px #000000;
}
 @media screen and (min-width:768px) {
    .container {
      flex-direction: row;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 80%;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      width: 70%;
    } 
  } 
 

  .image_container, .description_container {
    flex-basis: 50%;
    padding: 10px;
  }
  .main_image {
    border-radius: 15px;
  }
  .description_container {
    padding-left: 20px;
  }
  .main_title {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #4C2922;
  }
  .main_description {
    padding-right: 50px;
    padding-top: 20px;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
  }

  .main_button {
    margin-top: 2.5rem;
    width: 150px;
    padding: 10px 35px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    background: -moz-linear-gradient(90deg, rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
    background: linear-gradient(90deg, rgba(199, 146, 154, 1) 0%, rgba(210, 115, 3, 1) 100%);
  }

  .main_button > a {
    color: white;
    text-decoration: none;
  }